:root {
	--editor-bg-color: #263238;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: black;
	color: white;
	margin: 0;
}

#main {
	height: 98%;
}

#main-section {
	display: flex;
}

#form {
	height: 100%;
}


#logo {
	width: 3rem;
	border-radius: 10px;
}

#source {
	border: none;
	outline: none;
	resize: none;
}

#playground {
	flex-grow: 1;
}

#playground .column, #grammar, #features {
	background-color: var(--editor-bg-color);
}

#res {
	font-family: monospace;
}

.menu-list a:hover {
	color: black !important;
}

#main-section a {
	color: white;
	text-decoration: underline;
}

#grammar {
	overflow-y: scroll;
	width: 100%;
}

.grammar-section {
	margin-left: 4rem;
}

.grammar-section a, .grammar-section span {
	padding: 0 0.25rem;
}

#grammar .section h3 {
	margin: 0;
}

#grammar .section:not(:first-child) {
	padding-top: 0;
}

#features .CodeMirror {
	height: auto;
}
